<!-- gros sakura or  -->
<div class="container_sakura">
  <div class="saku_style">
    <%= image_tag 'SAKURA.png' %>
  </div>
</div>

<!-- élement .page contenant les 3 parties : nav_left / main / nav_right -->

<div class="page_style">

  <div class="nav_left">
    <%= link_to root_path do %>
      <h3 class="glitch_logo" data-text="SAKURA">SAKURA
      </h3>
    <% end %>
    <br>
    <ul class="styles_links">
      <% @styles.each do |style| %>
        <li>
          <%= link_to ("#{style.name}"), show_style_path(style)%>
        </li>
      <% end %>
      <br>
      <li>
        <%= link_to 'ver todos', home_FW_2017_path %>
      </li>
    </ul>
  </div>

  <section class="style_container">
    <div class="title_container">
      <div class="title">
        <h1><%=@style.name%></h1>
        <h2><%= @style.description %></h2>
      </div>
    </div>

    <% @photos.each do |photo| %>
      <div class="style">
        <%= link_to show_photo_path(photo) do %>
          <div style="position: relative;z-index: <%= [100, 102].sample %>" >
              <%= image_tag photo.image %>
            <% end %>
          </div>
      </div>
    <% end %>
  </section>

  <div class="container_nav_right">
    <ul class="nav_right">
      <li><%= link_to 'comprar #', "https://www.etafashion.com/" %></li>
      <br>
      <li><%= link_to 'contactanos #', "mailto:clementpicardzivy@gmail.com" %></li>
      <li><%= link_to 'instagram #',  "#" %></li>
      <li><%= link_to 'facebook #', "#" %></li>
      <li><%= link_to 'creditos #', "mailto:clementpicardzivy@gmail.com" %></li>
    </ul>
  </div>
</div>

