<!DOCTYPE html>
<html>
  <head>
    <title>SAKURA</title>
    <%= csrf_meta_tags %>
<!--     <link rel="stylesheet" href="application.scss"> -->
    <meta property="og:title" content="SAKURA ">
    <meta property="og:image" content="SAKURA.png">
    <meta property="og:description" content="Coleccion FW 2017">
    <meta property="og:site_name" content="www.sakura.bzh"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <%= yield %>


  </body>
</html>
